/cv/testImages/kanti_img1.jpg
/cv/testImages/kanti_img2.jpg
/cv/testImages/kanti_img1.jpeg
/cv/testImages/kanti_img2.jpeg
/cv/testImages/kanti_telegram_compressed_1.jpg
/cv/testImages/kanti_telegram_compressed_2.jpg
/cv/__pycache__/
/cv/Models/__pycache__/